@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e6e8;
  --foreground: #141010;
  --navbar-bg: #e6e6e8;
}

.dark {
  --background: #141010;
  --foreground: #e6e6e8;
  --navbar-bg: #141010;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-300;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

#globalLoader {
  position: fixed;
  z-index: 1700;
  background-color: var(--background);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

@layer utilities {
  .dark-invert {
    @apply dark:invert;
  }
}

.loader {
  --clr: #3498db;
  /* color of spining  */
  width: auto;
  height: auto;
  position: relative;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #c9c9c9;
  transform-origin: 0%;
  z-index: 2000;
}
